@mixin pa{
    position: absolute;
}
@mixin pa-border{
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}
@mixin pa-border2{
    top: 0;
    right: 0;
}
@mixin pr{
    position: relative;
}
.init-btn{
    width: 100%;
    height: 100%;
    background: url(~@/assets/images/pageInit/a2.png) no-repeat center center;
    cursor: pointer;
    z-index: 10;
    @include pa;
}
.wrap-sub{
    @include pa;
    @include pa-border;
    background-color: #fff;
    opacity: 0.6;
    border-radius: 20px;
    z-index: 0;
}
.wrap-sub-active{
    background-color: #00F0FF;
    opacity: 0.6;
}
@mixin s-li{
    color: #fff;
    border-radius: 19px;
    height: 36px;
    line-height: 36px;
}
.simple-wrap{
    @include pa;
    left: 50px;
    top: 2px;
    width: 144px;
    font-size: 12px;
}
.simple-wrap ul li{
    @include pr;
    @include s-li;
}
.simple-wrap ul li span{
    font-size: 16px;
    color:#fff;
    position: relative;
}
.simple-wrap ul li img{
    display: inline-block;
    margin-top: -4px;
    vertical-align: middle;
    margin-right: 13px;
    position: relative;
}
.complex-wrap{
    @include pa;
        left: -88px;
top: -90px;
    width: 82px;
    font-size: 12px;
    transition: all 0.6s ;
    transform: rotateZ(-198deg);
    transform-origin: center center;
        width: 227px;
height: 227px;
}
.complex-wrap ul li{
    @include pr;
    @include s-li;
}
.lz{
    @include pa;
    @include pa-border;
     background-color: #00F0FF;
     opacity: 0.6;
    border-radius: 20px;
}
@mixin btn{
    width: 22px;
    height: 20px;
    outline: none;
    border: none;
    cursor: pointer;
}
.hide-simple{
    background: url(~@/assets/images/pageInit/a3.png) no-repeat center center;
    @include btn;
    @include pa;
        left: 204px;
top: 10px; 
    transition: all 1s;
        background-size: 70%;
}
.show-simple{
    background: url(~@/assets/images/pageInit/a7.png) no-repeat center center;
    @include btn;
    @include pa;
    left: 152px; 
    top: 12px;
        background-size: 70%;
}
.complex-pane{
    @include pa;
    width: 227px;
    height: 227px;
    background: url(~@/assets/images/pageInit/a8.png) no-repeat center center;
}
.complex-wrap .c-a{
    @include pa;
    @include pa-border2;
                top: 70px;
right: 70px;
}
.complex-wrap .c-b{
    @include pa;
    @include pa-border2;
                top: 100px;
right: 64px;
}
.complex-wrap .c-c{
    @include pa;
    @include pa-border2;
               top: 132px;
right: 76px;
}
.complex-wrap .c-d{
    @include pa;
    @include pa-border2;
               top: 160px;
right: 110px;
}
.complex-wrap .c-a span{
    position: absolute;
        width: 66px;
    right: -74px;
top: -2px;
font-size: 16px;
}
.complex-wrap .c-a span:hover{
    display: block;
}
.complex-wrap .c-b span{
        display: block;
    position: absolute;
        width: 66px;
    right: -76px;
top: 0px;
font-size: 16px;
}
.complex-wrap .c-c span{
        display: block;
    position: absolute;
        width: 66px;
    right: -74px;
top: 0px;
   font-size: 16px; 
}
.complex-wrap .c-d span{
        display: block;
    position: absolute;
        width: 66px;
right: -74px;
top: 0px;
font-size: 16px; 
}
.complex-wrap ul li img{
    cursor: pointer;
}