.menuCount2{
    padding: 0 !important;
    width: 100% !important;
  }
  .menu2{
    padding: 0 !important;
  }
  .stl-title.active{
        display: block;
    width: 100%;
    background: rgba(0,240,255,0.6);
    padding: 5px;
  }
  .stl ul li{
        width: 80%;
        display: block;
        margin: 0 auto;
        padding: 0 5px;
        border-radius: 3px;
        margin-top: 4px;
  }
  .stl ul li.active{
        background: rgba(0,240,255,0.6);
  }
  .imgRadar{
          display: inline-block;
    width: 15px;
    height: 12.6px;
    background-size: contain;
  }
  .imgRadar-a{
        background: url(~@/assets/images/skyRadar/sr1.png) no-repeat center center;
    }
    .imgRadar-b{
        background: url(~@/assets/images/skyRadar/sr2.png) no-repeat center center;
    }